.article {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../../media/Construction.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.articleMain{
    background: yellow;
}

.bob {
    border-radius: 25%;
    background: red
}