* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navWrapper{
    /* width: 5rem;
    height: 5rem; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.navBar{
    /*Nav created but not visable/interactable with as the transform scale is zero*/
    width: 20rem;
    height: 20rem;
    background-color: #6a7fdb;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transform: scale(0) rotate(-180deg);
    transition: transform 0.5s;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
}



.change .navBar {
    /* here is where the Nav bar shows up on the page */
    transform: scale(1) rotate(0);
}

.navLink {
    position: absolute;
}

.navLink:hover {
    color: #222;
}

.navLink:nth-child(1) {
    top: 2rem;
}
.navLink:nth-child(2) {
    top: 5rem;
    right: 3rem;
}
.navLink:nth-child(3) {
    bottom: 5rem;
    right: 3rem;
}
.navLink:nth-child(4) {
    bottom: 2rem;
}
.navLink:nth-child(5) {
    bottom: 5rem;
    left: 3rem;
}
.navLink:nth-child(6) {
    top: 5rem;
    left: 3rem;
}

.navButton {
    position: absolute;
    width: 6rem;
    height: 6rem;
    background-color: #ff6b6b;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
    font-size: 2rem;
    color: #fff;
    transition: transform 0.5s;
}

.change .navButton {
    transform: rotate(45deg);
}

